<footer class="relative bg-green-800 text-white py-6 bottom-0">
      <div class="container mx-auto flex flex-col justify-between px-3">
        <div>
          <div class="flex flex-col items-center">
            <h3 class="font-bold mb-2">About Us</h3>
            <p class="mb-2">
              Our team dedicates itself to preserving the environment and
              supporting local communities.
            </p>
          </div>
        </div>

        <div class="flex flex-wrap justify-between">
          <div class="flex flex-col items-center">
            <h3 class="font-bold mb-2">Contact Us</h3>
            <ul class="list-none">
              <li>VBS Purvanchal University</li>
              <li>Jaunpur, India</li>
              <li>email@example.com</li>
              <li>(123) 456-7890</li>
            </ul>
          </div>

          <div class="flex flex-col items-center">
            <h3 class="font-bold mb-2">Our Team</h3>
            <ul class="list-none">
              <li>Yatndeep Dubey</li>
              <li>Shivang Srivastava</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container mx-auto mt-4 flex justify-center items-center">
        <p>&copy; 2023 Sharing with Caring. All rights reserved.</p>
      </div>
    </footer>