<div class="bg-green-400 w-full p-0 m-0">
  <div class="flex justify-between h-10">
    <div class="text-right sm:hidden">
      <span
        class="material-symbols-outlined my-1 mx-4 cursor-default"
        id="menu"
      >
        menu
      </span>
    </div>
  </div>

  <div
    class="hidden sm:flex sm:visible sm:top-1 sm:absolute sm:left-0"
    id="menuOptions"
  >
    <div class="text-center sm:mx-8 hover:underline">
      <a href="/">Home</a>
    </div>
    <div class="text-center sm:mx-8 hover:underline">
      <a href="#">About</a>
    </div>
    <div class="text-center sm:mx-8 hover:underline">
      <a href="#">Contact Us</a>
    </div>
    
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $("#menu").click(function () {
        $("#menuOptions").toggleClass("hidden");
        if ($("#menu").text().trim() === "menu") {
          $("#menu").text("close");
        } else {
          $("#menu").text("menu");
        }
      });
    });
  </script>