<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head') %>
    <title>Page Not Found - Sharing with Caring</title>
</head>
<body class="min-h-screen">
    <%- include('components/navbar') %>
    <div class="min-h-screen">
        <p>404</p>
        <p>Page Not Found</p>
    </div>

        <%- include('components/footer') %>
</body>
</html>


