<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sharing with Caring - A Step towards Sustainable Development</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css">

    <link rel="icon" type="image/png" href="./images/logo.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
  </head>

  <body>
    <!-- header start -->
    <!-- nav bar start -->
    <div class="bg-green-400 w-full p-0 m-0">
      <div class="flex justify-between h-10">
        <div class="text-right sm:hidden">
          <span class="material-symbols-outlined my-1 mx-4 cursor-default" id="menu">
            menu
          </span>
        </div>
      </div>

      <div
        class="hidden sm:flex sm:visible sm:top-1 sm:absolute sm:left-0"
        id="menuOptions"
      >
        <div class="text-center sm:mx-8 hover:underline">
          <a href="#">About</a>
        </div>
        <div class="text-center sm:mx-8 hover:underline">
          <a href="#">Service</a>
        </div>
        <div class="text-center sm:mx-8 hover:underline">
          <a href="#">Blog</a>
        </div>
        <div class="text-center sm:mx-8 hover:underline">
          <a href="#">Contact Us</a>
        </div>
      </div>
    </div>
    <!-- nav bar end -->

    <div
      class="flex flex-col justify-center items-center bg-center bg-cover bg-opacity-50 h-screen"
      style="background-image: url('/images/background.jpg')"
    >
      <div>   
        <div class="flex flex-col items-center">
          <img class="h-16 w-16" src="./images/logo.png" alt="logo" />
          <div class="font-medium text-white text-center mb-2 cursor-default">
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >S</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >h</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >a</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >r</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >i</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >n</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >g</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >-</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >w</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >i</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >t</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >h</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >-
            </span>
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >C</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >a</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >r</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >i</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >n</span
            >
            <span class="w-auto hover:font-semibold hover:text-green-900"
              >g</span
            >
          </div>
        </div>
      </div>

      <div class="flex justify-center items-center">
        <button
          class="bg-green-600 hover:bg-green-800 text-white font-medium py-2 px-4 rounded mr-2"
        >
          Already a Member
        </button>
        <button
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-medium py-2 px-4 rounded ml-2"
        >
          Join Us
        </button>
      </div>
    </div>
    <!-- header end -->
    <!-- login window start -->

    <!-- login window end -->
    <!-- footer start -->
    <footer class="bg-green-800 text-white py-6">
      <div class="container mx-auto flex flex-col justify-between px-3">
        <div>
          <div class="flex flex-col items-center">
            <h3 class="font-bold mb-2">About Us</h3>
            <p class="mb-2">
              Our team dedicates itself to preserving the environment and
              supporting local communities.
            </p>
          </div>
        </div>

        <div class="flex flex-wrap justify-between">
          <div class="flex flex-col items-center">
            <h3 class="font-bold mb-2">Contact Us</h3>
            <ul class="list-none">
              <li>VBS Purvanchal University</li>
              <li>Jaunpur, India</li>
              <li>email@example.com</li>
              <li>(123) 456-7890</li>
            </ul>
          </div>

          <div class="flex flex-col items-center">
            <h3 class="font-bold mb-2">Our Team</h3>
            <ul class="list-none">
              <li>Yatndeep Dubey</li>
              <li>Shivang Srivastava</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container mx-auto mt-4 flex justify-center items-center">
        <p>&copy; 2023 Sharing with Caring. All rights reserved.</p>
      </div>
    </footer>

    <!-- footer end -->
  </body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#menu').click(function() {
      $('#menuOptions').toggleClass('hidden');
      if ($('#menu').text().trim() === 'menu') {
        $('#menu').text('close');
      } else {
        $('#menu').text('menu');
      }
    });
  });
</script>


</html>
