<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head') %>
    <title>- Sharing with Caring</title>
  </head>
  <body class="min-h-screen">
    <%- include('../components/navbar') %> <%- include('../components/footer') %>
  </body>
</html>
